@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.course-card {
    text-align: center;
    margin: 10px;
    border: 2px solid black;
    display: block;
    width: 195px;
    height: 245px;
}   

.course-pic {
    width: 100%;
    height: 75%;
}

.course-text {
    padding-bottom: 8px;
    color: white;
    background: #362D86;
    font-family: 'Roboto', sans-serif;
}