.login-form-inner {
  text-align: center;
  margin-top: 40px;
}

.login-h1 {
  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 80px;
  color: #000000;
}

.login-h2 {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 25px;
  color: #000000;
}

.login-form-group {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.login-form-input {
  background-color: white;
  padding-left: 20px;
  padding-right: 30px;
  border-color: black;
  outline: none;
  width: 392px;
  height: 48px;
  font-size: 16px;
  filter: drop-shadow(4px 4px #000000);
}

.login-h3 {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
  display: block;
  align-items: center;
  text-align: center;
  margin-top: 48px;
}

.login-hr-lines::before {
  content: "";
  display: inline-block;
  height: 1px;
  width: 40%;
  top: 50%;
  margin-right: 10px;
  margin-bottom: 5px;
  background: #000000;
}

.login-hr-lines::after {
  content: "";
  display: inline-block;
  height: 1px;
  width: 40%;
  top: 50%;
  margin-left: 10px;
  margin-bottom: 5px;
  background: #000000;
}

.alt-login {
  display: flex;
  justify-content: center;
}

.alt-login button {
  width: 120px;
  height: 55px;
  margin-top: 15px;
  margin-left: 70px;
  margin-right: 70px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.google {
  background-image: url("../icons/google-logo.png");
  background-color: white;
  border-color: black;
  filter: drop-shadow(4px 4px #000000);
}

.linkedin {
  background-image: url("../icons/linkedin-logo.png");
  background-color: white;
  border-color: #000000;
  filter: drop-shadow(4px 4px #000000);
}

.login-btn {
  background-color: #fe9715;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 30px;
  border-color: black;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: bold;
  width: 445px;
  height: 55px;
  filter: drop-shadow(4px 4px #000000);
  cursor: pointer;
}

.login-h4 {
  margin-top: 30px;
}

.forgot-pass {
  margin-top: 10px;
  margin-left: 320px;
  font-weight: bold;
}
