* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrart, sans-serif;
}

nav {
  padding-left: 70px;
  height:70px;
  display:flex;
  align-items: center;
  background-color: #923DFF;
  box-shadow: 4px 4px 0px #000000;
  padding: 20px 25px;
}

nav > h3 {
  margin-right: auto;
  color: white;
  background-color: black;
  border: 3px solid black;
}

nav > h4 {
  margin: auto;
}


/* input, button {
  appearance: none;
  background: none;
  border: none;
  outline: none;
} */

.App {
  height: 100hv;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #FFDCA8;
}

